/* "Roboto" and "Playfair Display" */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --background-color: #0891b2;
  --font-color: #565656;
  --proj-1: #9e1c1c;
  --proj-2: #7c75ca;
  --proj-3: #5e8f4d;
  --proj-4: #c363b4;
  --proj-5: #d88f39;
  --proj-6: #4ba2d2;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
  /* max-width: xx */
}

/* Typography and Backgrounds */
body {
  font-family: "Roboto";
  position: relative;
}

h1,
h2,
h3 {
  font-family: "Playfair Display";
}

h2 {
  font-size: 3rem;
}

.background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 70vh;
  background-color: var(--background-color);
  z-index: -99;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 100%);
}

header p,
main p {
  color: var(--font-color);
}

.project h3 {
  font-size: 1.25rem;
}

.project p {
  font-size: 1.1rem;
}

footer {
  background-color: var(--background-color);
  color: white;
}

footer p {
  font-size: 1.1rem;
}

footer .fs-large {
  font-size: 1.5rem;
}

.header-icons img,
.footer-icons img {
  width: 32px;
}

.project-icons img {
  width: 24px;
}

.icon-small img {
  width: 28px;
}

/* Layout */

/* main {
  border: 1px solid red;
}
.project-container {
  border: 1px solid blue;
}
.project {
  border: 1px solid black;
} */

main {
  padding-block: 50px;
}

main h2 {
  text-align: center;
  margin-bottom: 30px;
}

.proj-1 {
  background-color: var(--proj-1);
}
.proj-2 {
  background-color: var(--proj-2);
}
.proj-3 {
  background-color: var(--proj-3);
}
.proj-4 {
  background-color: var(--proj-4);
}
.proj-5 {
  background-color: var(--proj-5);
}
.proj-6 {
  background-color: var(--proj-6);
}

.project-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.project {
  box-shadow: 0px 0px 10px 0px rgba(173, 173, 173, 1);
  max-width: 450px;
  margin: 0 auto;
}

.project-image {
  height: 300px;
}

.project-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 180px;
}

.project-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-icons {
  display: flex;
  gap: 10px;
}

footer .icon-small {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer-icons {
  display: flex;
  gap: 25px;
  justify-content: center;
}
